/* Write your CSS here */

button {
  background-color: white;
  color: #ff0b37;
  border-color: #ff0b37;
  border-radius: 5px;
  font-family: Roboto;
}

.heading {
  font-size: 20px;
  font-family: Roboto;
}

li {
  list-style-type: none;
}
